window {
	border-radius: 6px;
}

#input {
	border-radius: 0px;
    border:  none;
    padding: 0px;
    margin: -14px;
    font-size: 0px;
    outline: none;    
}

.entry {
	border-radius: 6px;
	border: none;
	padding: 0px 10px 0px 10px;
}

#entry:selected {
	background-image: linear-gradient(to bottom right, #891fe1, #75507b);
}
#entry:unselected {
	background-color: #454545;
}
